:root {
  --background: #e9edc9;
  --text: #37302a;
  --buttons: #fbf9ee;
  
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

.homescreen {
  --bg: var(--background);
  --fontColor: var(--text);
  --humanbtnBg: var(--buttons);
  --humanbtnFontColor: var(--text);
  --AIbtnBg: var(--buttons);
  --AIbtnFontColor: var(--text);
  --funfactboxcolor: var(--text);
}

#humanbtn {
  cursor: pointer;
  position: absolute;
  top: 41vw;
  left: 54vw;
  font-size: 2vw;
  font-family: 'Times New Roman', Times, serif;

  height: 5vw;
  width: 9vw;
  border-radius: 15vw;
  border: .1vw solid #37302a;
  color: var(--humanbtnFontColor);
  background-color: var(--buttons);
}
#humanbtn:hover{
  border: .15vw solid #37302a;
}

#AIbtn {
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
  cursor: pointer;
  border: .1vw solid #37302a;
  


  position: absolute;

  top: 41vw;
  left: 39vw;
  height: 5vw;
  width: 9vw;
  border-radius: 15vw;
  color: var(--AIbtnFontColor);
  background-color: var(--buttons);

}
#AIbtn:hover{
  border: .15vw solid #37302a;
}

#funfact {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  z-index: 1000;
  left: 50vw;
  top: 6.5vw;
  transform: translate(-50%, 0%);
  font-size: 1.75vw;
}

#msg {
  position: absolute;
  z-index: 1000;
  left: 73vw;
  top: 17vw;
  transform: translate(-50%, 0%);
  font-size: 6vw;
  width: 100vw;
font-family: 'Times New Roman', Times, serif;
color: var(--text);
}

#name {
  position: absolute;
  z-index: 1000;
  left: 50vw;
  top: 0vw;
  transform: translate(-50%, 0%);
  font-size: 3vw;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}

#source {
  position: absolute;
  z-index: 1000;
  left: 60vw;
  top: 15vw;
  transform: translate(-50%, 0%);
  font-size: .85vw;
  font-family: 'Times New Roman', Times, serif;
}

#funfactbox {
  padding: 0;

  cursor: pointer;

  position: absolute;

  top: 7vw;
  left: 22.5vw;
  height: 10vw;
  width: 56vw;
  border-radius: 3vw;
  border: .1vw solid #37302a;
  color: var(--AIbtnFontColor);
  background-color: var(--AIbtnBg);

}

#startbtn {
  cursor: pointer;
  position: absolute;
  font-size: 2vw;
  top: 40vw;
  left: 43vw;
  height: 5vw;
  width: 14vw;
  border-radius: 15vw;
  color: var(--humanbtnFontColor);
  background-color: var(--buttons);
  border: .1vw solid #37302a;
  font-family: 'Times New Roman', Times, serif;
 
  
}
#startbtn:hover{
  border: .15vw solid #37302a;
}
#continuebtn {
  cursor: pointer;
  position: absolute;
  font-size: 2vw;
  font-family: 'Times New Roman', Times, serif;
  top: 40vw;
  left: 43vw;
  height: 5vw;
  width: 14vw;
  border-radius: 15vw;
  color: var(--humanbtnFontColor);
  background-color: var(--buttons);
  border: .1vw solid #37302a;
}
#continuebtn:hover{
  border: .15vw solid #37302a;
}
#score {
  font-size: 4vw;
  font-family: 'Times New Roman', Times, serif;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 9vw;
  left: 41vw;
  color: var(--text);
}
#infobox {
  padding: 0;

  cursor: pointer;


  position: absolute;
  transform: translate(-50%, -50%);
  top: 38vw;
  left: 50vw;
  height: 45vw;
  width: 50vw;
  border-radius: 3vw;
  border: none;
  color: var(--AIbtnFontColor);
  background-color: var(--AIbtnBg);
  border: .1vw solid #37302a;

}
#info {
  position: absolute;
  z-index: 1000;
  left: 51.75vw;
  top: 18vw;
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
  transform: translate(-50%, -50%);
}

#correctbox {
  
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;

  top: 27vw;
  left: 50vw;
  height: 15vw;
 width: 55vw;
  border-radius: 3vw;
  color: var(--AIbtnFontColor);
  background-color: var(--AIbtnBg);
  box-shadow: 0 0 3vw rgb(81, 211, 0);
  

}
#wrongbox {
  padding: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  top: 27vw;
  left: 50vw;
  height: 15vw;
 width: 55vw;
  border-radius: 3vw;
  color: var(--AIbtnFontColor);
  background-color: var(--AIbtnBg);
  box-shadow: 0 0 3vw rgb(255, 0, 0);

}
#correct {
  font-family: 'Times New Roman', Times, serif;
  font-size: 7vw;
  position: absolute;
  z-index: 1000;
  top: 1vw;
  left: 50vw;
  transform: translate(-50%, 0%);
  color: rgb(81, 211, 0);
}
#wrong {
  font-family: 'Times New Roman', Times, serif;
  font-size: 7vw;
  position: absolute;
  z-index: 1000;
  top: 1vw;
  left: 50vw;
  transform: translate(-50%, 0%);
  color: rgb(255, 0, 0);
}
#picture1info {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 20vw;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#picture2info {
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 20vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}
#picture3info {
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 20vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}
#picture4info {
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 20vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}
#picture5info {
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 24vw;
  left: 50vw;
  transform: translate(-50%, -50%);

  font-family: 'Times New Roman', Times, serif;
}
#picture6info {
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 20vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}

#picture7info { 
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 21vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}
#picture8info {
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 20vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}
#picture9info {
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 21vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}
#picture10info {
  position: absolute;
  font-size: 2vw;
  z-index: 1000;
  top: 20vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
 
}
#picture1 {
  width: 25vw;
  height: 25vw;
}
#picture2 {
  width: 25vw;
  height: 25vw;
}
#picture3 {
  width: 25vw;
  height: 25vw;
}
#picture4 {
  width: 25vw;
  height: 25vw;
}
#picture5 {
  width: 25vw;
  height: 25vw;
}
#picture6 {
  width: 25vw;
  height: 25vw;
}
#picture7 {
  width: 25vw;
  height: 25vw;
}
#picture8 {
  width: 25vw;
  height: 25vw;
}
#picture9 {
  width: 25vw;
  height: 25vw;
}
#picture10 {
  width: 25vw;
  height: 25vw;
}
html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
@media screen and (orientation: portrait) {
  #toolbar {
    width: 200%;
  }
}
